@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,401;1,401&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 800;
}

.todo-main {
  background-color: #242424;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.todo-main .create-task-text {
  background-color: #fff;
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  margin: 0px auto 50px auto;
  border-radius: 10px;
}
.todo-main .todo-flex {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}
.todo-main div.list {
  width: 30%;
  background-color: #fff;
  height: 600px;
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}
.todo-main div.list h1 {
  text-align: center;
  padding: 20px 0px;
}
.todo-main .tasks {
  padding: 20px;
}
.todo-main .tasks .every-task {
  width: 80%;
  margin: 0px auto 10px auto;
  height: 100px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 5px;
  border-left-width: 10px;
  border-radius: 10px;
  font-size: 14px;
  overflow-y: auto;
  cursor: pointer;
}
.todo-main .tasks .every-task::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.todo-main .tasks .every-task h2 {
  word-break: break-all;
}
.todo-main .lists-border {
  height: 3px;
  margin-bottom: 30px;
  width: 100%;
}
.todo-main .backlog-border {
  background-color: brown;
}
.todo-main .finished-border {
  background-color: limegreen;
}
.todo-main .progress-border {
  background-color: yellow;
}

.move-to {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.7803921569);
  opacity: 0;
  transition: all ease 0.4s;
  position: absolute;
  inset: 0;
  transition: 0.4s;
  visibility: hidden;
}
.move-to .close-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.move-to .line {
  width: 45px;
  height: 5px;
  background-color: black;
  transition: all 0.3s ease;
  position: absolute;
}
.move-to .line1 {
  top: 28px;
  right: 20px;
  background-color: #fff;
}
.move-to .line3 {
  top: 48px;
  right: 20px;
  background-color: #fff;
}
.move-to .close-button .line1 {
  transform: translateY(10px) rotate(45deg);
}
.move-to .close-button .line3 {
  transform: translateY(-10px) rotate(-45deg);
}
.move-to.visible {
  opacity: 1;
  visibility: visible;
}
.move-to .move-task-to {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 50px;
}
.move-to .move {
  padding: 30px 70px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.move-to .move:nth-child(1) {
  border: 1px solid yellow;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.415);
}
.move-to .move:nth-child(1):hover {
  background-color: black;
  border-color: transparent;
  background-color: yellow;
  color: black;
}
.move-to .move:nth-child(2) {
  border: 1px solid limegreen;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.415);
}
.move-to .move:nth-child(2):hover {
  background-color: black;
  border-color: #fff;
  background-color: limegreen;
  color: #fff;
}
.move-to .move:nth-child(3) {
  border: 1px solid red;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.415);
}
.move-to .move:nth-child(3):hover {
  background-color: black;
  border-color: #fff;
  background-color: red;
  color: #fff;
}/*# sourceMappingURL=App.css.map */